<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Boosting Innovation + Quality in Health & Human Services</h2></mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <hr>
      <div class="intro-text">
        <p>We live in a world where today’s innovation quickly becomes tomorrow’s quality – it doesn’t take long for that new and better product or service to turn into a consumer expectation. To help organizations thrive in this fast-paced, consumer-focused environment, PMB has identified 16 cultural conditions that drive and sustain innovation + quality (I+Q).</p>
        <p>PMB invites you to take our I+Q Cultural Assessment, and in 5 minutes you will learn if your organization’s culture is at the Discovery, Developing, Advancing, or Guiding stage of innovation + quality.</p>
      </div>
      <div class="question-prompt">Are you ready to begin?</div>
    </mat-card-content>
    <mat-card-actions>
      <span  class="question-actions">
        <button
          mat-raised-button
          class = "next-button"
          color = 'primary'
          (click)="onStartClicked()"
          >
          Start Survey
          <mat-icon >chevron_right</mat-icon>
        </button>
      </span>
    </mat-card-actions>
</mat-card>