<app-header></app-header>
<app-survey></app-survey>

<footer class="footer_copy">
    <!-- Copyrights -->
    <div class="copyright">
        © 2017 People Minded Business. All Rights Reserved.					</div>
    
    <ul class="social">
        <li class="facebook">
            <a target="_blank" href="https://www.facebook.com/PeopleMindedBusiness/" title="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="twitter">
            <a target="_blank" href="https://twitter.com/PeopleMindedBiz" title="Twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="youtube">
            <a target="_blank" href="https://www.youtube.com/channel/UC6EWmgiHhOrdZbJIeKDHZ2A" title="YouTube">
                <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </li>
        <li class="linkedin">
            <a target="_blank" href="https://www.linkedin.com/company-beta/739679/" title="LinkedIn">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    </ul>							
</footer>