@import '../../../theme';

.result-number-wrapper {
    width: 100% !important;
    text-align: center;
    margin: 50px;
}

.result-title {
    color: mat-color($primary);
    font-size: 80px;
    line-height: 96px;
}

.result-body {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
}