@import './theme';

body {
    background:#fafafa;
}

header {
    height: 120px;
    text-align: center;
    padding-top: 15px;
    background: white;    
}

footer {
    color: #888888;
    text-align: center;
    width: 100%;
    padding: 3em 0;
}

.logo {
    margin: 0 auto;
    height: 100px;
}

.copyright {
    margin: 10px 0 10px;
}

ul.social {
    list-style: none outside;
}

.social li {
    display: inline-block;
    margin-right: 6px;
    width: 35px;
}

.social li a {
    color: #41a7ac;
    font-size: 25px;
    line-height: 25px;
}

.container {
    padding: 0 10em 0 10em;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.answer-group {
    box-shadow: 0 0 0 0 !important;
    display: flex !important;
    justify-content: space-around;
    margin: 20px 0 !important;
}

.answer-wrapper {
    width: 150px;
    cursor: pointer;
}

.mat-icon.answer-icon {
    width: 100% !important;
    font-size: 70px;
    text-align: center;
    color: lightgrey;
}
.mat-icon.answer-icon.active {
    color: #96c167;
}

.answer-text {
    background-color: transparent !important;
    color: #565656;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}
.answer-text.active {
    color: #96c167;
}

.question-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 25px !important;
}

.question-text {
    font-size: 22px;
    line-height: 30px;
    color: #565656;
    margin: 40px 0 !important;
    text-align: center !important;
}

.question-prompt {
    text-align: center;
    color: #999;
    font-size: 16px;
}

.next-button {
    font-size: 22px;
    line-height: 60px !important;
    font-weight: 600; 
    margin-bottom: 25px;   
}